body {

    margin: 0;
    font-family: Arial, sans-serif;
    height: calc(100vh - 100px);

}

/* text input boxes should be rounded and have a border */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* the searchbar should be more rounded */
input[type=search] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

/* Custom styles for login and register buttons */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 1.2rem;
    padding: 0.75rem 1.25rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }
